//WARNA
$primary-color: #4e28f7;
$primary-soft-color1: #3c21b3;
$background-primary-color: #e7ceff;

$danger-color: #f72828;
$danger-soft-color1: #be2d2d;
$background-danger-color: #ffcece;
$shadow-danger-color: #f7282820;

$success-color: #16ca5b;
$success-soft-color1: #1fa552;
$background-success-color: #d0ffce;
$shadow-success-color: #28f77720;

$shadow-accent-color: #a596eb;
$shadow-primary-color: #4e28f766;
$background-color: #ddd;
$panel-color: #fff;
$active-color: #fff;
$accent-color: #ddd;
$accent-color: #ddd;
$font-grey1: #333;
$font-grey2: #555;
$font-grey3: #777;
$font-grey4: #999;
$font-grey5: #aaa;
$font-grey6: #ddd;
$font-grey7: #f1f1f1;

//UKURAN
$panel-login: 450px;
$lebar-logo: 150px;

$tinggi-navbar: 60px;

//SHADOW
body {
    font-family: "Nunito";
}

//LOGIN
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.panel-login {
    padding: 20px;
    background-color: $panel-color;
    // height: $panel-login;
    width: $panel-login;
    position: relative; /* or absolute */
    display: block;
   
}

.logo-login {
    position: absolute;
    bottom: 20px;
    left: calc(50% - calc($lebar-logo / 2));
    z-index: -1;

    img {
        width: $lebar-logo;
    }
}

//COMPONENT
.header {
    height: $tinggi-navbar;
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 10px $font-grey6;
    position: relative;
    z-index: 1;
}

.header-panel-kanan {
    position: absolute;
    right: 20px;
    margin-top: 15px;
    display: flex;

    .profil {
        width: 30px;
        height: 30px;
        background-color: grey;
        border-radius: 50px;
        display: block;
        overflow: hidden;
        box-shadow: 2px 2px 20px $font-grey6;
        cursor: pointer;
        z-index: 2;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.header-panel-kiri {
    position: absolute;
    left: 20px;
    display: flex;
    z-index: 2;
    .btn-icon {
        all: unset;
        cursor: pointer;
        background-color: transparent;
        padding: 0.5rem;
        margin-top: 10px;
        transition: ease-in-out 0.2s;

        &:hover {
            background-color: $font-grey6;
            border-radius: 50%;
            transition: ease-in-out 0.2s;
        }
    }

    .title {
        margin-top: 10px;
        margin-left: 10px;
        height: 30px;
        margin-bottom: 0;
        font-size: 1.5rem;
    }
}

.text-title {
    position: absolute;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 15px;
    height: 30px;
    font-size: 1.2rem;
    color: $font-grey4;
    z-index: 1;
}

input.form-control {
    &.login {
        display: block;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: none;
        border-bottom: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
}

input.form-control {
        display: block;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ddd;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.sidebar {
    width: 250px;
    border-right: solid 1px $font-grey7;
    height: calc(100vh - $tinggi-navbar);
    position: relative;
    padding-top: 20px;
    transition: ease-in-out 0.5s;
    overflow: hidden;

    .title-role {
        all: unset;
        font-weight: bold;
        color: $shadow-accent-color;
        margin: 10px;
    }

    .menu {
        all: unset;
        display: block;
        height: 40px;
        padding: 2px;
        background-color: white;
        transition: ease-in-out 0.2s;
        cursor: pointer;
        overflow: hidden;
        // border-bottom: 1px solid $font-grey7;

        .menu-icon {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 10px;
            height: 100%;
            line-height: 40px;
            vertical-align: middle;
            display: inline-block;
            margin-right: 10px;
            color: $font-grey2;
        }

        .menu-text {
            margin-top: auto;
            margin-bottom: auto;
            height: 100%;
            line-height: 40px;
            vertical-align: middle;
            display: inline-block;
            color: $font-grey1;
            font-weight: 500;
            font-size: 0.8rem;
            transition: ease-in-out 0.5s;
        }

        &.active {
            background-color: $background-primary-color;
            transition: ease-in-out 0.2s;
            color: $primary-color !important;

            .menu-icon {
                color: $primary-color;
            }

            .menu-text {
                color: $primary-color;
            }
        }

        &:hover {
            background-color: $font-grey7;
            transition: ease-in-out 0.2s;
            color: $primary-color !important;

            // .menu-icon {
            //     color: $primary-color;
            // }

            // .menu-text {
            //     color: $primary-color;
            // }
        }
    }

    .submenu {
        padding-left: 0.5rem !important;
    }
    .submenus {
        height: 40px;
        padding: 2px;
        background-color: white;
        transition: ease-in-out 0.2s;
        cursor: pointer;
        overflow: hidden;
        // border-bottom: 1px solid $font-grey7;

        .menu-icon {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 10px;
            height: 100%;
            line-height: 40px;
            vertical-align: middle;
            display: inline-block;
            margin-right: 10px;
            color: $font-grey2;
        }

        .menu-text {
            margin-top: auto;
            margin-bottom: auto;
            height: 100%;
            line-height: 40px;
            vertical-align: middle;
            display: inline-block;
            color: $font-grey4;
            font-weight: 300;
            transition: ease-in-out 0.5s;
        }

        &:hover {
            background-color: $background-primary-color;
            transition: ease-in-out 0.2s;
            color: $primary-color !important;

            .menu-icon {
                color: $primary-color;
            }

            .menu-text {
                color: $primary-color;
            }
        }
    }

    &.ciut {
        width: 60px;
        transition: ease-in-out 0.5s;

        .menu-text {
            transition: ease-in-out 0.5s;
            width: 0;
            display: none;
        }

        .title-role {
            display: none;
        }
    }
}

.panel {
    border: 1px solid $font-grey6;
    border-radius: 5px;
    font-size: 0.8rem;
    margin-bottom: 40px;

    .title {
        padding: 1rem;
        color: $font-grey4;
        border-bottom: 1px solid $font-grey7;
        display: flex;
        justify-content: space-between;

        p {
            margin-bottom: 0;
        }
    }

    .isi {
        padding: 1rem;
        color: $font-grey4;
    }
}

.panel-peformace {
    display: flex;
    align-items: center;

    img {
        width: 50px;
        object-fit: cover;
    }

    .content {
        margin-left: 20px;
        p {
            margin-bottom: 0;
        }

        .nama {
            font-size: 1rem;
            color: $font-grey5;
        }

        .nilai {
            font-size: 2.5rem;
            color: $font-grey1;
            font-weight: bold;
        }

        .status {
            font-size: 1rem;
            color: green;
        }
    }
}

.dropdown-menu {
    &.custom {
        .dropdown-item {
            &:hover {
                background-color: $background-primary-color !important;
            }
        }
    }
}

.form-label {
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
}

.btn-utama {
    all: unset;
    transition: all 0.5s;
    display: block;
    text-align: center;
    border: none;
    background-color: $primary-color;
    color: white;
    border-radius: 5px;
    padding: 10px;
    // box-shadow: 1px 1px 5px $shadow-primary-color;
    cursor: pointer;

    &.sml {
        padding: 3px 10px;
        font-size: 0.8rem;
    }

    &.rnd {
        border-radius: 50px;
    }

    &:hover {
        transition: all 0.5s;
        color: white;

        box-shadow: 2px 2px 20px $shadow-primary-color;
    }
}

.btn-utama-soft {
    all: unset;
    transition: all 0.5s;
    display: flex;
    text-align: center;
    border: none;
    background-color: $background-primary-color;
    color: $primary-color;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    align-items: center;
    // box-shadow: 1px 1px 5px $shadow-primary-color;
    cursor: pointer;

    a {
        display: block;
    }

    &.sml {
        padding: 3px 10px;
        font-size: 0.8rem;
        line-height: 0.8rem;
    }

    &.rnd {
        border-radius: 50px;
    }

    &:hover {
        transition: all 0.5s;
        color: $primary-soft-color1;
        // box-shadow: 2px 2px 20px $shadow-primary-color;
    }
}

.btn-danger-soft {
    all: unset;
    transition: all 0.5s;
    display: flex;
    text-align: center;
    border: none;
    background-color: $background-danger-color;
    color: $danger-color;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    align-items: center;
    // box-shadow: 1px 1px 5px $shadow-primary-color;
    cursor: pointer;

    a {
        display: block;
    }

    &.sml {
        padding: 3px 10px;
        font-size: 0.8rem;
        line-height: 0.8rem;
    }

    &.rnd {
        border-radius: 50px;
    }

    &:hover {
        transition: all 0.5s;
        // box-shadow: 2px 2px 20px $shadow-danger-color;
        color: $danger-soft-color1;
    }
}

.btn-success-soft {
    all: unset;
    transition: all 0.5s;
    display: flex;
    text-align: center;
    border: none;
    background-color: $background-success-color;
    color: $success-color;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    align-items: center;
    // box-shadow: 1px 1px 5px $shadow-primary-color;
    cursor: pointer;

    a {
        display: block;
    }

    &.sml {
        padding: 3px 10px;
        font-size: 0.8rem;
        line-height: 0.8rem;
    }

    &.rnd {
        border-radius: 50px;
    }

    &:hover {
        transition: all 0.5s;
        // box-shadow: 2px 2px 20px $shadow-success-color;
        color: $success-soft-color1;
    }
}

.btn-google {
    all: unset;
    transition: all 0.5s;
    display: block;
    text-align: center;
    border: solid 1px $font-grey6;
    background-color: white;
    color: grey;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    position: relative;

    img {
        height: 1.5rem;
        position: absolute;
        left: 2rem;
    }

    &:hover {
        transition: all 0.5s;
        color: grey;
        box-shadow: 2px 2px 20px $font-grey6;
    }
}

//ATTRIBUT
.link {
    all: unset;
    cursor: pointer;
    font-weight: bold;
    color: $primary-color;
}

.dropdown-item {
    font-size: 0.8rem;
}

.garis-horizontal {
    width: 100%;
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.bg-color {
    background-color: $background-color;
}

.bg-accent-color {
    background-color: $background-primary-color;
}

.pinggiran-bunder {
    border-radius: 50%;
}

.pinggiran-bunder-10 {
    border-radius: 10px;
}

.bayangan-accent {
    box-shadow: 5px 10px 10px $shadow-accent-color;
}

.bayangan-samar {
    box-shadow: 5px 10px 10px #ccc;
}

.huruf-abu-1 {
    color: $font-grey1;
}

.huruf-abu-2 {
    color: $font-grey2;
}

.huruf-abu-3 {
    color: $font-grey3;
}

.huruf-abu-4 {
    color: $font-grey4;
}

.huruf-abu-5 {
    color: $font-grey5;
}

.ukuran-font-1 {
    font-size: 1rem;
}

.ukuran-font-2 {
    font-size: 2rem;
}

.ukuran-font-3 {
    font-size: 3rem;
}

//ICON

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
    color: black;
}

//DATATABLES
.page-item.active .page-link {
    color: white !important;
    background-color: $primary-color !important;
    border-color: $primary-color !important;
}

.page-link {
    position: relative;
    display: block;
    color: $primary-color !important;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

//MODAL
.modal-title {
    font-size: 1rem;
}


//TABLES
table{
    font-size: 00.8rem;
}
